<!DOCTYPE html>
<!--/*
  쪽지 답장 팝업.
  출처: legacy/ERFlow/src/main/webapp/message/reply.jsp

  쓰기와 거의 같지만 받는 사람은 여는 창이 채운다(목록·읽기의 답장 버튼이 receiverId
  를 넣어 준다). 그래서 «찾기» 는 disabled 이고 receiverId 에 placeholder 가 없다.
  전송은 쓰기와 같은 POST /message/register 다.
*/-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script th:src="@{https://code.jquery.com/jquery-latest.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js}" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script th:src="@{/js/bootjs/bootstrap.js}"></script>
    <script th:src="@{/js/message/register.js}"></script>
    <script th:src="@{/js/message/index.js}"></script>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <link rel="stylesheet" th:href="@{/css/common/page.css}">
    <link rel="stylesheet" th:href="@{/css/main/header.css}">
    <link rel="stylesheet" th:href="@{/css/main/index.css}">
    <link rel="stylesheet" th:href="@{/css/main/aside.css}">
    <link rel="stylesheet" th:href="@{/css/bootcss/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/message/register.css}">
</head>
<body>
<div class="main-notice">
    <div class="upside"></div>
    <div class="board-content-body">
        <table class="plus-table">
            <tr>
                <td>
                    <form method="post" th:action="@{/message/register}">
                        <table class="inner-plus-table">
                            <tr>
                                <td class="plus-messageform-header">받는 사람</td>
                                <td class="search-people">
                                    <input class="form-control" name="receiverId" id="receiverId" size="30"
                                           readonly maxlength="30">
                                    <button type="button" class="search-message" disabled>찾기</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="plus-messageform-content">내 용</td>
                                <td><textarea name="content" class="form-control" rows="15" cols="60"></textarea></td>
                            </tr>
                            <tr>
                                <td colspan="2"><hr></td>
                            </tr>
                            <tr>
                                <td class="plus-messageform-footer" colspan="2">
                                    <div class="messageform-footer-button">
                                        <button class="btn btn-primary" type="submit">등록</button>
                                        <button type="button" class="btn btn-secondary close-message">취소</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
