<!DOCTYPE html>
<!--/*
  비밀번호 변경 (최초 로그인).
  출처: legacy/ERFlow/src/main/webapp/login/changePassword.jsp

  레거시는 비밀번호가 사번과 같으면 여기로 보냈고, 그때까지 로그인시키지 않았다.
  같은 뜻으로 이 화면은 ROLE_PASSWORD_CHANGE 권한만 있는 상태에서만 열린다.
*/-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ERFlow Change Password</title>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
    <script th:src="@{https://kit.fontawesome.com/a81368914c.js}"></script>
    <script th:src="@{/js/login/loginSub.js}"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
</head>
<body>
<img class="wave" th:src="@{/images/login/backImage.png}">
<div class="container">
    <div class="img">
        <img th:src="@{/images/common/logo.png}">
    </div>
    <div class="login-content">
        <form th:action="@{/login/change-password}" method="post">
            <img src="https://raw.githubusercontent.com/sefyudem/Responsive-Login-Form/master/img/avatar.svg">
            <h2 class="title">Change Password</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5 class="h5-input">Password</h5>
                    <input type="password" class="input" name="password">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5 class="h5-input">Confirm Password</h5>
                    <input type="password" class="input" name="rePassword">
                </div>
            </div>
            <input type="submit" class="btn" value="send">
        </form>
    </div>
</div>
</body>
</html>
